*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    margin: auto;
    width:57%;
}

input {
    width: 620px;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50;
}