@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.descuentos{
    background-color:  #1CD1B0;
    /* position: absolute; */
  

    left: 62.57px;
    /* top: 4px; */
    font-family: Roboto;
    font-weight: 900;
    font-size: 20px;
    padding-left: 20px;
}
header{
    background: #00669F;
    width: auto;
    color: white;
   
}
.imghero {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-size: 400px;
    position: absolute;
    top: -70px;
    left: 100px;
}

.card-fondo{
padding: 100px;
background-size: cover;
border-top-left-radius: 10%;
border-top-right-radius: 10%;
position: relative;

}
.card-texto{
    background-color: #F3F3F3;
    padding: 70px 10px 10px 10px;
    
    position: relative;
}
.batman{
    background-image: url("../img/bg-batman.jpg");

}
.mujer-maravilla{
    background-image: url("../img/bg-wonderw.jpg")
}
.superman{
    background-image: url("../img/bg-superman.jpg");
}

.card{
    width: 350px;     
    margin: auto;
    margin-top: 40px;   
    height: 500px;
    margin-bottom: 10%;
   
}

h2{
    text-align: center;
}
a {
    display:inline-block;
    margin-left: 100px;  /*preguntar por que no funca con margin auto*/
    margin-top: 10px;
    background-color: #00669F;
    border-radius: 10%;
    color: white;
    padding: 10px 30px;
}



.card-texto {
    background-color: #F3F3F3;
    width: 350px;
    
}

h1 {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 15px;

}

i{
    color: red;
    position: absolute;
    top: 10px;
    left: 10px;
    
}

